
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
 
  <title>All Flights</title>
</head>
<body>
  <table >
    <thead>
    <tbody>
      <br>
      <a  href="/" >Go Home</a> 
      <a href="flights/new">Add Flight</a>
        <h1>Flights Chart</h1>
      
        <tr>
          <td id="table">Airline</td>
          <td id="table">AirPort</td>
          <td id="table">FlightNo</td>
          <td id="table">Departure</td>
        </tr>
        <% flights.forEach(function(f) { %>
          <tr>
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td style="<%= new Date(f.departs) < new Date() ? 'color: red;' : '' %>"><%= new Date(f.departs).toISOString().slice(0, 16) %></td>
            <td> <a href="/flights/<%= f.id %>">Details</a></td>
          <% }); %>  
     
      </tbody>
    
    </table>
</body>
</html>