
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
 
  <title>All Flights</title>
</head>
<body>
  <table >
    <thead>
    <tbody>
    
        <h1>Flights Chart</h1>
      
        <tr>
          <td id="table">airline</td>
          <td id="table">airport</td>
          <td id="table">flightNo</td>
          <td id="table">departure</td>
        </tr>
        <% flights.forEach(function(f) { %>
          <tr>
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs %></td>
            <td> <a href="/flights/<%= f.id %>">Details</a></td>
          <% }); %>  
     
      </tbody>
      <a  href="/" >Go Home</a> <a href="flights/new">Add Flight</a>
    </table>
</body>
</html>